{% extends 'admin/base.html.twig' %}

{% block title %}Films{% endblock %}

{% block stylesheets %}

    <style>

    body {
        background-image: url('/img/vince-gaspar-A5h3uE7i_gU-unsplash.jpg');
        background-attachment: fixed;
        background-size: cover;
    }

    </style>

{% endblock %}

{% block body %}

<div class="container text-light">
    <div class="title text-center">
        <h1>Ajouter un Réalisateur</h1>
    </div>
    {{form(form)}}
</div>

{% endblock %}
