{% extends 'base.html.twig' %}

{% block title %}Films{% endblock %}

{% block stylesheets %}
    <style>
    .card img {
        width: 250px;
    }
    body {
        background-image: url('/img/merch-husey-Omy-jLERVBo-unsplash.jpg');
        background-attachment: fixed;
        background-size: cover;
    }
    .card {
        background-color: rgb(36, 38, 38);
        border-radius: 50px;
    }
    .test {
        height: 250px;
    }
    .badge {
        border-radius: 5px;
    }
    .page {
        width: 100%;
    }
    .pagination {
        margin: auto;
        margin-left: 20%;
    }
    </style>
{% endblock %}

{% block body %}

<div class="container">
    <nav class="navbar navbar-light bg-dark text-light mb-4">
        <a class="navbar-brand text-light"href="/movies">Home</a>
        <form class="form-inline my-2 my-lg-0" action="{{path('movies')}}" method="get" >
           <input name="search" class="form-control mr-sm-2"  type="search" autocomplete="off" placeholder="Rechercher">
           <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Rechercher</button>
         </form>
    </nav>
</div>

<div class="title text-center text-light mb-3">
    <h1>LE CINE DU QUARTIER</h1>
</div>

<div class="container">
    <div class="row" id="scroll">

    </div>
</div>

{% endblock %}

{% block javascripts %}

    <script>

    function showMovies() {

        if (!next) {
            return
        }

        next = false

        $.ajax({
            url: '{{ path("movies_ajax") }}?offset=' + offset + '&' + search,
            context: document.body
        }).done(function(html) {
            offset += limit
            $( "#scroll" ).append(html);
            next = html.trim()
        });
    }

    const search = window.location.search.substr(1)

    const limit = {{ limit }};
    let offset = 0
    let next = true

    showMovies()
    $(window).scroll(function() {
        if($(window).scrollTop() + $(window).height() > $(document).height() - 100) {
            showMovies()
        }
    });
    </script>

{% endblock %}
