{% extends 'base.html.twig' %}

{% block title %}Films{% endblock %}

{% block stylesheets %}
    <style>
    .card img {
        width: 250px;
    }
    body {
        background-color: rgb(88, 117, 46);
    }
    .card {
        background-color: rgb(36, 38, 38);
        border-radius: 50px;
    }
    </style>
{% endblock %}

{% block body %}

<div class="container">
    <div class="example-wrapper text-center text-light">
        <h1>Le chti ciné</h1>
    </div>
</div>
<div class="container">
    <div class="row text-center">
        {% for movies in movies %}
            <div class="card-deck mb-3 col-md-4">
                <div class="card ">
                    <div class="row">
                        <div class="col md-6 text-center mt-2">
                            <div class="card-body">
                                <h5 class="card-title text-danger font-weight-bold">{{ movies.name}}</h5>
                            </div>
                            <img class="card-img" src="{{ movies.cover }}" alt="Image du film">
                            <div class="detail">
                                <a class="btn btn-primary mt-2" href="{{ path('movie', {
                                    id: movies.id
                                }) }}" role="button">Détail du film</a>
                            </div>
                            <div class="link text-light">
                                <a class="btn btn-primary mb-2 mt-2" href="{{ movies.link }}" role="button">Allociné</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
